# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8efe781483994ad6a2098697472a260e7015db1b4627ae77b7f16daf34bf4cad172d8987778a7800810e2ffd9142c8f81ad88ea015c25f7ce1de8131d48c23c9

test:
  secret_key_base: 6d8240f143aa79e68367f785844b2daceff508ad4c0493d80f08a351467758f533870d9f96df1a1c80abd4044c5ea35b12eeb2c8dbf425b2f343d30bc6dd6944

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
